<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
       default-lazy-init="false">

    <description>Spring MongoDB配置</description>

    <bean class="com.fangdd.traffic.common.mongo.core.YMongoClient">
        <property name="connections" value="${mongodb.connections}"/>
        <property name="connectionsPerHost">
            <value type="int">${mongodb.connectionsPerHost}</value>
        </property>
        <property name="maxWaitTime">
            <value type="int">${mongodb.maxWaitTime}</value>
        </property>
    </bean>
</beans>
